---
layout: page
title: "개발(Programming)"
permalink: /develops/
---

{% for category in site.categories %}
  {% capture cat %}{{ category | first }}{% endcapture %}
  {% if cat == 'develop_diary' or cat == 'python' or cat == 'reactnative' or cat == 'job_review' %}
  {% if cat == 'develop_diary' %}
  <h2 id="{{cat}}">개발 일지(Develop Diary)</h2>
  {% elsif cat == 'python' %}
  <h2 id="{{cat}}">파이썬(Python)</h2>
  {% elsif cat == 'reactnative' %}
  <h2 id="{{cat}}">리액트 네이티브(React Native)</h2>
  {% elsif cat == 'datastructure_algorithm' %}
  <h2 id="{{cat}}">자료구조와 알고리즘</h2>
  {% elsif cat == 'job_review' %}
  <h2 id="{{cat}}">취업 리뷰</h2>
  {% else %}
  <h2 id="{{cat}}">{{ cat | capitalize }}</h2>
  {% endif %}
  {% for desc in site.descriptions %}
    {% if desc.cat == cat %}
      <p class="desc"><em>{{ desc.desc }}</em></p>
    {% endif %}
  {% endfor %}
  <ul class="posts-list">
  {% for post in site.categories[cat] %}
    <li>
      <strong>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </strong>
      <span class="post-date">- {{ post.date | date_to_long_string }}</span>
    </li>
  {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
  {% endif %}
{% endfor %}
<br>
