---
layout: page
title: Tags
permalink: /tags/
---

{% for tag in site.tags %}
  {% capture tag_name %}{{ tag | first }}{% endcapture %}
  <h2 id="{{ tag_name | slugize }}">{{ tag_name | capitalize }}</h2>
  <a name="{{ tag_name | slugize }}"></a>
  <ul class="posts-list">
  {% for post in site.tags[tag_name] %}
    <li>
      <strong>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </strong>
      <span class="post-date">- {{ post.date | date_to_long_string }}</span>
    </li>
  {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
  {% endif %}
{% endfor %}
<br>
